{% extends 'survey/base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">
      Django Survey
    </h1>

    <div class="columns">
      <div class="column is-offset-2 is-8">
        <h2 class="subtitle">
          Create Survey
        </h2>

        <form action="{% url 'survey_create' %}" id="survey-form" method="POST">
          {% csrf_token %}
          <div class="field">
            <label for="title" class="label">
              Title
            </label>
            <div class="control">
              <input type="text" class="input" name="title" id="title">
            </div>
            <p class="help is-danger">{{ title_error }}</p>
          </div>

          <div class="field">
            <label for="" class="label">Assignees</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple size="4" name="assignees">
                  {% for user in users %}
                  <option value="{{ user.id }}">{{ user.username }}</option>
                  {% endfor %}
                </select>
              </div>
              <p class="help is-danger">{{ assignee_error }}</p>
            </div>
          </div>

          <div class="field">
            <label for="" class="label">Reviewers</label>
            <div class="control">
              <div class="select is-multiple">
                <select multiple size="4" name="reviewers">
                  {% for user in users %}
                  <option value="{{ user.id }}">{{ user.username }}</option>
                  {% endfor %}
                </select>
              </div>
              <p class="help is-danger">{{ reviewer_error }}</p>
            </div>
          </div>

          <div class="field">
            <label for="" class="label">Questions</label>
            <div class="control">
              <a @click.stop="addQuestion" class="button is-info is-small">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Add Question</span>
              </a>
            </div>
            <p class="help is-danger">{{ questions_error }}</p>
          </div>
          <ol>
            <li style="padding-bottom: 25px;" v-for="question in questions" :key="'question_' + question.id">
              <div class="field is-grouped">
                <label :for="'question_' + question.id" class="label">
                </label>
                <div class="control is-expanded">
                  <input type="text" class="input" v-model="question.text">
                </div>
                <div class="control">
                  <a @click.stop="removeQuestion(question)" class="button is-danger">
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div style="margin-left: 30px;">
                <div class="field">
                  <label for="" class="label">Choices</label>
                  <div class="control">
                    <a @click.stop="addChoice(question)" class="button is-success is-small">
                      <span class="icon is-small">
                        <i class="fas fa-plus"></i>
                      </span>
                      <span>Add Choice</span>
                    </a>
                  </div>
                </div>

                <ol>
                  <li v-for="choice in question.choices" :key="'choice_' + choice.id">
                    <div class="field is-grouped">
                      <label :for="'choice_' + choice.id" class="label">
                      </label>
                      <div class="control is-expanded">
                        <input type="text" class="input" v-model="choice.text">
                      </div>
                      <div class="control">
                        <a @click.stop="removeChoice(question, choice)" class="button is-danger">
                          <span class="icon is-small">
                            <i class="fas fa-times"></i>
                          </span>
                        </a>
                      </div>
                    </div>
                  </li>
                </ol>

              </div>
              <input v-if="validQuestion(question)" type="hidden" name="questions" :value="serializeQuestion(question)">
            </li>
          </ol>
          <div class="field">
            <div class="control">
              <button class="button is-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</section>

<script>
new Vue({
  delimiters: ['[[', ']]'],
  el: '#survey-form',
  data: {
    questionId: 1,
    choiceId: 1,
    questions: []
  },
  methods: {
    addQuestion: function() {
      var _this = this;
      _this.questions.push({
        id: _this.questionId,
        text: '',
        choices: [{
          id: _this.choiceId,
          text: ''
        }]
      });
      _this.questionId++;
      _this.choiceId++;
    },
    removeQuestion: function(question) {
      var questions = this.questions.slice();
      var idx = questions.indexOf(question);
      questions.splice(idx, 1)
      this.questions = questions;
    },
    addChoice: function(question) {
      var _this = this;
      question.choices.push({
        id: _this.choiceId,
        text: ''
      });
      var idx = _this.questions.indexOf(question);
      var questions = _this.questions.slice();
      questions[idx] = question;
      _this.questions = questions;
      _this.choiceId++;
    },
    removeChoice: function(question, choice) {
      var questions = this.questions.slice();
      var qIdx = questions.indexOf(question);
      var cIdx = question.choices.indexOf(choice);
      question.choices.splice(cIdx, 1);
      questions[qIdx] = question;
      this.questions = questions;
    },
    serializeQuestion: function(question) {
      var q = Object.assign({}, question);
      q.choices = q.choices.filter(function(c){
        return Boolean(c.text);
      });
      return JSON.stringify(q);
    },
    validQuestion: function(question) {
      var valid = Boolean(question.text);
      if (valid) {
        var choices = question.choices.filter(function(c) {
          return Boolean(c.text);
        });
        valid = Boolean(choices);
      }
      return valid;
    }
  },
  mounted: function() {
    this.addQuestion()
  }
})
</script>

{% endblock %}


